<div>
  <h1> {{ title }} {{ methodMode}} </h1>
  <h3> {{ methodMode === 'threshold-non-cumulative' ? 'Hạn mức mỗi turn là: ' + threshold : '' }} </h3>
  <button (click)="changeMethod('circle')">Đổi phương án 1</button>
  <button (click)="changeMethod('threshold-non-cumulative')">Đổi phương án 2</button>
</div>

<div class="container">
  <div class="row" style="margin-top: 40px;">
    <div class="col-sm-10">
      <h3>Danh sách nhân viên</h3>
    </div>
    <div class="col-sm-2">
      <button (click)="themNhanVien()">Add</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-1">Prioritize</div>
    <div class="col-sm-3">Name</div>
    <div class="col-sm-2">Check In</div>
    <div class="col-sm-2">Turn</div>
    <div class="col-sm-1"></div>
    <div class="col-sm-3">Time Check In</div>
  </div>
  <div *ngFor="let staff of staffs | keyvalue" class="row">
    <ng-container *ngIf="staff.value as nhanVien">
      <div class="col-sm-1">{{nhanVien.clockIn === 0 ? '-' : nhanVien.prioritize}}</div>
      <div class="col-sm-3">{{nhanVien.staffName}}</div>
      <div class="col-sm-2" (click)="checkInNhanVien(nhanVien.id)">{{nhanVien.isIn}}</div>
      <div class="col-sm-2">{{nhanVien.turn}}</div>
      <div class="col-sm-1">
        <div class="row">
          <button type="button" class="btn btn-link" (click)="changeTurn(nhanVien.id,'add')">Add +</button>
          <button type="button" class="btn btn-link" (click)="changeTurn(nhanVien.id, 'delete')">Delete -</button>
        </div>
      </div>
      <div class="col-sm-3">{{nhanVien.clockIn !== 0 ? (nhanVien.clockIn | date: 'medium') : 0}}</div>
    </ng-container>
  </div>
  <h5 *ngIf="staffChose">Gợi ý của chúng tôi là: {{staffChose.staffName}}</h5>
  <div class="row" style="margin-top: 100px">
    <div class="col-sm-10">
      <h3>Danh sách khách hàng</h3>
    </div>
    <div class="col-sm-2">
      <!-- <button (click)="themKhachHang()">Add</button>
      <button (click)="goiy()">Xem gợi ý</button> -->
    </div>
  </div>
  <div class="row">
    <div class="col-sm">Name</div>
    <div class="col-sm">Staff</div>
  </div>

  <div>
    <pre> {{ staffs | json }} </pre>
  </div>
  <div *ngFor="let khachHang of customers" class="row">
    <div class="col-sm">{{khachHang.staffName}}</div>
    <div class="col-sm">{{khachHang.staff}}</div>
  </div>
  <h5 *ngIf="isAddCus">Chua co nhan vien check in</h5>
</div>
